<div class="dashboard-wrapper">
  <aside class="sidebar" [class.collapsed]="isCollapsed">
    <div class="sidebar-header">
      <h2 *ngIf="!isCollapsed">ERP</h2>
      <button class="toggle-btn" (click)="toggleSidebar()">
        <i class="pi" [ngClass]="isCollapsed ? 'pi-angle-right' : 'pi-angle-left'"></i>
      </button>
    </div>
    <ul class="nav-links">
      <li *ngFor="let item of menuItems" (click)="openPage(item.label)" [class.active]="activePage === item.label"
          [attr.data-bs-toggle]="isCollapsed ? 'tooltip' : null"
          [attr.data-bs-placement]="'right'"
          [attr.title]="isCollapsed ? item.label : null">
        <i [class]="item.icon">
        </i>
        <span *ngIf="!isCollapsed">{{ item.label }}</span>
      </li>
    </ul>
  </aside>
  <main class="main-content">
    <header class="topbar">
      <h1>Dashboard</h1>
      <div class="user-info dropdown">
        <span>Hey Mohammad</span>
        <i class="pi pi-user" style="cursor: pointer;" data-bs-toggle="dropdown"></i>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
        </ul>
      </div>

    </header>
    <div class="rightPanel">
      <span style="display: flex; width: 100% !important; flex-wrap: wrap; flex-direction: column;">
        <div *ngIf="activePage === 'Home'" class="welcome-message">
          <h2>Welcome to ERP Dashboard</h2>
          <button class="btn btn-success">Click</button>
          <p>Select a module from the sidebar to get started.</p>
        </div>
        <app-product-component *ngIf="activePage === 'Sales'"></app-product-component>
      </span>
    </div>
  </main>
</div>