<div class="sales-wrapper">
  <!-- Bootstrap Toast -->
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055;">
    <div class="toast" [ngClass]="{'show': successMessage}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-success text-white">
        <i class="pi pi-check-circle me-2"></i>
        <strong class="me-auto">Success</strong>
        <button type="button" class="btn-close btn-close-white" (click)="successMessage = ''"></button>
      </div>
      <div class="toast-body">
        {{ successMessage }}
      </div>
    </div>
    <div class="toast" [ngClass]="{'show': errorMessage}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-danger text-white">
        <i class="pi pi-exclamation-triangle me-2"></i>
        <strong class="me-auto">Error</strong>
        <button type="button" class="btn-close btn-close-white" (click)="errorMessage = ''"></button>
      </div>
      <div class="toast-body">
        {{ errorMessage }}
      </div>
    </div>
  </div>
  <div class="modal fade" [ngClass]="{'show': showDeleteConfirm, 'd-block': showDeleteConfirm}" tabindex="-1"
    [attr.aria-hidden]="!showDeleteConfirm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Deletion</h5>
          <button type="button" class="btn-close" (click)="cancelDelete()"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this product?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" *ngIf="showDeleteConfirm"></div>
  <div class="kpi-row">
    <div class="kpi-card green">
      <span class="label">Today’s Sales</span>
      <p class="value bi bi-currency-rupee">{{dashboardData.todayslSales}}</p>
    </div>
    <div class="kpi-card blue">
      <span class="label">Total Orders</span>
      <p class="value d-flex align-items-center gap-2 bi bi-cart">{{dashboardData.totalOrders}}</p>
    </div>
    <div class="kpi-card orange">
      <span class="label">Avg. Order Value</span>
      <p class="value bi bi-currency-rupee">{{dashboardData.avgOrderValue}}</p>
    </div>
    <div class="kpi-card purple">
      <span class="label">Top Product</span>
      <p class="value d-flex align-items-center bi bi-graph-up gap-2">{{dashboardData.topProduct}}</p>
    </div>
  </div>

  <div class="orders-section">
    <h3>Recent Orders</h3>
    <table class="orders-table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Customer</th>
          <th>Items</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of recentOrders">
          <td>#{{ o.orderId }}</td>
          <td>{{ o.customerName }}</td>
          <td>{{ o.items }}</td>
          <td>₹{{ o.amount }}</td>
          <td>
            <span class="status" 
              [ngClass]="{
                'danger': o.status?.toLowerCase() === 'pending',
                'success': o.status?.toLowerCase() === 'completed'
              }">
              {{ o.status }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <button class="btn primary" (click)="openInvoicePage()">+ New Invoice</button>
    <button class="btn secondary">Print Report</button>
    <button class="btn secondary" (click)="openManageProductPage()">Manage Products</button>
  </div>
  <div class="invoice-drawer" [class.open]="isInvoiceOpen">
    <div class="drawer-header">
      <h2 class="drawer-title">Create Invoice</h2>
      <button class="close-btn" (click)="closeInvoice()">
        <i class="pi pi-times"></i>
      </button>
    </div>
    <div class="drawer-body">
      <form [formGroup]="form">
        <div formGroupName="customer">
          <div class="form-section">
            <label>Customer Name</label>
            <input type="text" formControlName="Name" placeholder="Enter customer name" />
          </div>
          <div class="form-section">
            <label>Email</label>
            <input type="email" formControlName="Email" placeholder="customer@email.com" />
          </div>
        </div>
        <div formGroupName="invoice" class="form-section">
          <label>Notes</label>
          <input type="text" formControlName="notes" placeholder="Notes" />
        </div>
        <div formGroupName="invoice" class="form-section">
          <label>Items</label>
          <table class="items-table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody formArrayName="items">
              <tr *ngFor="let row of items.controls; let rowIndex = index" [formGroupName]="rowIndex">
                <td>
                  <select class="form-select form-select-sm shadow-sm" formControlName="productId"
                    (change)="onProductChange(rowIndex)">
                    <option value="" disabled>Select Product</option>
                    <option *ngFor="let p of productList" [value]="p.id"
                      [disabled]="isProductAlreadySelected(p.id, rowIndex) || p.stock === 0">
                      {{ p.name }} ({{ p.stock }} in stock)
                    </option>
                  </select>
                </td>
                <td>
                  <input type="number" formControlName="qty" min="1" />
                </td>
                <td>
                  <input type="number" formControlName="price" readonly />
                </td>
                <td class="text-right font-weight-bold">
                  ₹{{ getTotal(row) }}
                </td>
                <td>
                  <button type="button" (click)="removeItem(rowIndex)" style="border:none">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="add-item-btn" (click)="addItem()">
            <i class="pi pi-plus-circle"></i> Add Item
          </button>
        </div>
        <div class="summary">
          <div class="row">
            <span>Subtotal</span>
            <span>₹{{ subtotal | number:'1.2-2' }}</span>
          </div>
          <div class="row">
            <span>Tax (18%)</span>
            <span>₹{{ tax | number:'1.2-2' }}</span>
          </div>
          <div class="row total">
            <span>Total</span>
            <span>₹{{ total | number:'1.2-2' }}</span>
          </div>
        </div>
        <button class="btn primary full-width" type="button" (click)="saveInvoice()">Save</button>
      </form>
    </div>
  </div>
  <div class="manageproduct-drawer" [class.open]="isManageProductOpen">
    <div class="drawer-header px-3">
      <h2 class="drawer-title">Manage Products</h2>
      <button class="close-btn" (click)="closeManageProductPage()">
        <i class="pi pi-times"></i>
      </button>
    </div>
    <div class="drawer-body px-3">
      <!-- FORM -->
      <div class="py-3 border-bottom" [formGroup]="createItemForm">
        <div class="row align-items-center mb-3">
          <div class="col-5">
            Product Name
          </div>
          <div class="col-7">
            <!-- <input type="text" class="form-control"> -->
            <input type="text" class="form-control" formControlName="Name" placeholder="Enter Product Name"
              [ngClass]="{'is-invalid': Add['Name'].touched && Add['Name'].invalid,'is-valid':Add['Name'].touched && Add['Name'].valid}" />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-5">
            Price
          </div>
          <div class="col-7">
            <input type="number" class="form-control" formControlName="Price" placeholder="0.00"
              [ngClass]="{'is-invalid': Add['Price'].touched && Add['Price'].invalid,'is-valid':Add['Price'].touched && Add['Price'].valid}" />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-5">
            Stock
          </div>
          <div class="col-7">
            <input type="number" class="form-control" formControlName="Stock" placeholder="0.00"
              [ngClass]="{'is-invalid': Add['Stock'].touched && Add['Stock'].invalid,'is-valid':Add['Stock'].touched && Add['Stock'].valid}" />
          </div>
        </div>

        <div class="d-flex justify-content-end mt-4">
          <button class="btn btn-outline-success" [disabled]="createItemForm.invalid"
            (click)="addProduct()">Add</button>
        </div>
      </div>
      <div class="d-none d-md-block mt-4">
        <table class="table table-bordered align-middle">
          <thead class="table-light">
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Stock</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productList">
              <td>{{ product.name }}</td>
              <td>₹{{ product.price }}</td>
              <td>{{ product.stock }}</td>
              <td class="text-center">
                <button class="btn btn-sm btn-outline-secondary me-2" (click)="openEditModal(product)">
                  <i class="pi pi-pencil"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="deleteProduct(product.id)">
                  <i class="pi pi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="custom-modal-backdrop" *ngIf="showModal" (click)="closeModal()">
</div>
<div class="custom-backdrop-edit" *ngIf="showEditModal" (click)="closeEditModal()"></div>
<div class="custom-modal-wrapper-edit" *ngIf="showEditModal">
  <div class="custom-modal-edit card shadow-lg edit-product-modal">
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
      <h5 class="mb-0 fw-semibold">Edit Product</h5>
      <button class="btn btn-sm btn-light" (click)="closeEditModal()">✕</button>
    </div>
    <form [formGroup]="editForm">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-12">
            <label class="form-label">Product Name</label>
            <input type="text" class="form-control" formControlName="Name" placeholder="Enter Product Name"
              [ngClass]="{'is-invalid': f['Name'].touched && f['tName'].invalid,'is-valid':f['Name'].touched && f['tName'].valid}" />
          </div>
          <div class="col-md-6">
            <label class="form-label">Price (₹)</label>
            <input type="number" class="form-control" formControlName="Price" placeholder="0.00"
              [ngClass]="{'is-invalid': f['Price'].touched && f['Price'].invalid,'is-valid':f['Price'].touched && f['Price'].valid}" />
          </div>
          <div class="col-md-6">
            <label class="form-label">Stock</label>
            <input type="number" class="form-control" formControlName="Stock" placeholder="0"
              [ngClass]="{'is-invalid': f['Stock'].touched && f['Stock'].invalid,'is-valid':f['Stock'].touched && f['Stock'].valid}" />
          </div>
        </div>
      </div>
    </form>
    <div class="card-footer bg-white d-flex justify-content-end gap-2">
      <button class="btn btn-outline-secondary" (click)="closeEditModal()">Cancel</button>
      <button class="btn btn-primary" [disabled]="editForm.invalid" (click)="updateRecord()">Save Changes</button>
    </div>
  </div>
</div>